{% extends "shop/base.html" %}

{% block content %}

  <label for="token" class="col-sm-2 control-label">User Token</label>
  <input name="token" type="text" class="form-control" id="token" placeholder="Token received after login">

  <h3>Update User Details</h3>
  <form class="ajax-post-change" action="{% url 'customer:password-change-api' %}">{% csrf_token %}

    <label for="new_password1" class="col-sm-2 control-label">Password</label>
    <input name="new_password1" type="password" class="form-control" id="new_password1" placeholder="Password">

    <label for="new_password2" class="col-sm-2 control-label">Repeat password</label>
    <input name="new_password2" type="password" class="form-control" id="new_password2" placeholder="Repeat password">

    <button type="submit" class="btn btn-default">Set new password</button>

  </form>

{% endblock %}

{% block javascript %}
		<script type="text/javascript">
			$().ready(function(){
				$('form.ajax-post-change button[type=submit]').click(function(){
					var token = $('input[name=token]').val();
					var form = $('form.ajax-post-change');
					$.ajax({
						url: form.attr('action'),
						data: form.serialize(),
						type: "POST",
						beforeSend: function(xhr){xhr.setRequestHeader('Authorization', 'Token '+token);}
					}).fail(function(data){error_response(data);})
					.done(function(data){susccess_response(data);});
					return false;
				});
			});
		</script>
{% endblock %}