{% extends "shop/base.html" %}

{% block content %}

  <h3>Forgotten password confirm</h3>
  <form class="ajax-post" role="form" action="{% url 'customer:password-reset-confirm-api' %}">{% csrf_token %}
    <div>
      <label for="uid">Uid</label>
      <div>
        <input name="uid" type="text" id="uid" placeholder="Uid">
        <p>Uid value sent in email</p>
      </div>
    </div>

    <div>
      <label for="token">Token</label>
      <div>
        <input name="token" type="text" id="token" placeholder="Token">
        <p>Token value sent in email</p>
      </div>
    </div>

    <div>
      <label for="new_password1">Password</label>
      <div class="col-sm-10">
        <input name="new_password1" type="password" id="new_password1" placeholder="Password">
      </div>
    </div>

    <div>
      <label for="new_password2">Repeat password</label>
      <div>
        <input name="new_password2" type="password" id="new_password2" placeholder="Repeat password">
      </div>
    </div>

    <div class="form-group">
      <div>
        <button type="submit">Set new password</button>
      </div>
    </div>
  </form>

{% endblock %}

{% block javascript %}
		<script type="text/javascript">
      var url_elements = window.location.pathname.split('/');
      //url_elements = ["", "auth", "password", "reset", "confirm", "NDk", "5jh-a25e44a9d190f2a92684", ""]
      var uid = url_elements[url_elements.length - 3];
      console.log('uid:',uid)
      if (uid !== undefined){
        $('input[name=uid]').val(uid);
      }
      var token = url_elements[url_elements.length - 2];
      console.log('token:',token)
      if (token !== undefined){
        $('input[name=token]').val(token);
      }

    </script>
{% endblock %}

