{% extends "shop/base.html" %}

{% block content %}

  <h3>Forgotten Password</h3>
  <form class="ajax-post-change" action="{% url 'customer:password-reset-api' %}">{% csrf_token %}

    <label for="email">Password</label>
    <input name="email" type="text" id="email" placeholder="email address">

    <button type="submit">Set new password</button>

  </form>

{% endblock %}

{% block javascript %}
		<script type="text/javascript">
			$().ready(function(){
				$('form.ajax-post-change button[type=submit]').click(function(){
					var form = $('form.ajax-post-change');
					$.ajax({
						url: form.attr('action'),
						data: form.serialize(),
						type: "POST",
					}).fail(function(data){error_response(data);})
					.done(function(data){susccess_response(data);});
					return false;
				});
			});
		</script>
{% endblock %}