## base.py has the settings - create a local and production file next to base and overight values
## django will try to load local.py first if available, otherwise will load production.
## Google App Engine will ignore local.py file, so production.py will always be loaded in production.

ecommerce/settings/production.py
ecommerce/settings/local.py


## Ignore contents of folders except for the __init__.py file and keep the folder itself

customer/migrations/*
!customer/migrations/__init__.py

payment/migrations/*
!payment/migrations/__init__.py

shipping/migrations/*
!shipping/migrations/__init__.py

shop/migrations/*
!shop/migrations/__init__.py


#@ static / media

media/*
!media/.gitkeep

static/*
!static/.gitkeep


## Django stuff

.idea/
*.pyc
*.log
*.json
*.sqlite3
*.sqlite3-journal
ngrok.exe