{% extends "shop/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
	<title>{{ product.product_name }} | {{ store.name }}</title>
	<meta name="description" content="{{ product.meta_description }}">
	<meta name="keywords" content="{{ product.meta_keywords }}">
{% endblock %}


{% block css %}
{% endblock %}


{% block content %}

      <div>
        <h1>{{ product.product_name }} [{{ product.product_code }}]</h1>
        {% for image in product.images %}
          <div> size: {{ image.size|safe }}
            <img src="{{ image.url }}" width="{{ image.width|safe }}" height="{{ image.height|safe }}" />
          </div>
        {% endfor %}
        <p>{{ product.description }}</p>
        <span>Price: {{ product.price }}</span>
        <form action="{% url "shop:add-to-cart" product.slug %}" method="post">
          {% csrf_token %}
          <button type="submit">Add to cart</button>
        </form>
      </div>

{% endblock %}


{% block javascript %}
{% endblock %}