{% extends "shop/base.html" %}
{% load static %}


{% block title %}
	<title>Products | {{ store.name }}</title>
	<meta name="description" content="{{ store.meta_description }}">
	<meta name="keywords" content="{{ store.meta_keywords }}">
{% endblock %}


{% block css %}
{% endblock %}


{% block content %}

  <div>
    <h1>All products</h1>
    {% for product in products.results %}
      <div>
      start
        {% include "shop/catalog/product-figure.html" %}
      end
      </div>
    {% empty %}
      <div>No products</div>
    {% endfor %}
  </div>

  {% if paginator.display_page_controls %}
    <nav>
      <ul>{{ paginator.to_html }}</ul>
    </nav>
  {% endif %}

{% endblock %}


{% block javascript %}
{% endblock %}